@import url("./variables.module.css");
.message-assistant {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: auto;
    background-color: var(--bg-color-light);
}

.message-assistant.dark {
    background-color: var(--bg-color-white);
}


.message-user {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-left: auto;
    background-color: var(--bg-color-light);
}

.message-user.dark {
    background-color: var(--bg-color-white);
}

